body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 50%; /* Ensures the image takes exactly half the card */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prevents distortion of the image */
}

.card-content {
    width: 50%; /* Ensures text takes the other half */
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the text vertically */
    text-align: left;
    box-sizing: border-box; 
    justify-content: space-between;
}

.category {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 0.9;
}

.description {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.card-content p {
    margin: 0 0 20px; /* Adds spacing before the button */
}

.discount-price {
    color: hsl(158, 36%, 37%);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

.original-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

button:hover {
    background-color: hsl(158, 36%, 30%);
    scale: 1.05;
    box-shadow: 0 5px 10px black;
}
button:active {
    background-color: hsl(158, 36%, 25%);
    scale:0.95;
}
